@import "./vars.css";

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
  background: var(--body-bg) !important;
  height: 100%;
  width: 100%;
}

@media (max-width: 480px) {
  .mobile-full-width {
    width: 100%;
    padding: 0rem;
  }
}

@media (max-width: 576px) {
  .mobile-medium-width {
    width: 100%;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .tablet-width {
    width: 100%;
    padding: 1rem;
  }
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}
