@import "./vars.css";

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
  background-color: var(--body-bg);
}

.card {
  padding: 2em;
  border-radius: 12px;
  background-color: var(--card-bg);
}
